/* Global Selectors */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}


/* TYPOGRAPHY */

h1, h2, h3, h4, h5, p, a {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
    font-size: 5em;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 15px;
}

h2 {
    font-size: 1.5rem;
    color: #fff;
}

h3 {
    font-size: 1.75rem;
    text-align: center;
    color: #34558b;
    text-transform: uppercase;
    font-weight: 600;
    margin: 20px 0;
   
}

h4 {
    font-size: 1.5em;
    margin: 25px;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 1px;
    opacity: 80%;
}

h5 {
    font-size: 1.25em;
    margin-bottom: 20px;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 1px;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255, 1);
}

/* NAVIGATION */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5%;
    background-color: #34558b;
    position: fixed;
    width: 100%;
    z-index: 300;
}

.navlogo {
    cursor: pointer;
    width: 4%;

}
.navlinks ul {
    list-style: none;
}

.navlinks li{
    display: inline-block;
    padding: 0 50px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-size: 16px;
    font-weight: 600;
}

.navlinks a {
    transition: all 0.3s ease 0s;
    

}

.navlinks a:hover {
    background-color: rgb(255, 255, 255, 0.7);
}

button {
    padding: 9px 25px;
    background-color: rgb(240, 240, 240, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
    color: #34558b;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 0.8px;
}

button:hover {
    background-color: rgb(240, 240, 240, 0.8);
}


/* LANDING PAGE */

#landing {
    background: linear-gradient(rgba(52, 85, 139, 0.795), rgba(52, 85, 139, 0.795)), url(https://images.unsplash.com/photo-1609921212029-bb5a28e60960?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1334&q=80);
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

#landing button {
    margin-top: 50px;
    opacity: 95%;
}

/* ABOUT SECTION */

#about {
    width: 90%;
    height: 100vh;
    padding: 0px 129px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 1.5;
}

.headshot {
    width: 50%;
    height: 60vh;
    margin: 72px;
    display: flex;
    
}


.headshot img {
   max-width: 100%;
   max-height: 100%;
   box-shadow: 20px 20px 5px  #34558b;
}

.abouttext {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.abouttext h3 {
    margin-bottom: 30px;
    text-align: left;
}

.abouttext button {
    width: 50%;
    margin: 30px 0;
}


/* My Work Section Here */

#myWork {
    width: 90%;
    height: 100vh;
    display: flex; 
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 0 5%;
    padding: 15px 0;
}


.workContainer {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(https://images.unsplash.com/photo-1566837945700-30057527ade0?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80);
    height: 70vh;
    background-position: center;
    background-size: cover;
    margin-bottom: 40px;
    margin-top: 30px;

}

.workContainer2, .workContainer3, .workContainer4 {
    width: 32%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-position: center;
    background-size: cover;
    border-radius: 10px;


}

.workContainer2 {
    background-image: url(https://images.unsplash.com/photo-1498050108023-c5249f4df085?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1352&q=80);


}

.workContainer3 {
    background: url(https://images.unsplash.com/photo-1581472723648-909f4851d4ae?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80);

}

.workContainer4 {
    background: url(https://images.unsplash.com/photo-1554306274-f23873d9a26c?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80);

}

/* FOOTER STARTS HERE */

#footer {
    background-color: #34558b;
    width: 100%;
    height: 100%;
    margin-top: 300px;
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.footerlinks {
 margin: 20px 0;
}

.footerlinks ul li {
    display: inline;
    margin: 0 100px;
}

#footer p {
    color: #fff;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 1px;
    margin-top: 20px;
}

.fab, .fas {
    font-size: 30px;
}

