/* Global Selectors */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

/*Navbar  */
header {
    position: fixed;
    width: 100%;
    z-index: 99;
}

.navbar {
    background-color: #34558b;
    color: #fff;
}

.navbar-brand img{
    color: #fff;
    width: 25%;
}

.navbar span {
    color: #fff;
}

/* Landing pages */
#landing {
    width: 100%;
    height: 100vh;
    background: linear-gradient(0deg, rgba(127, 38, 228, 0.3), rgba(73, 33, 182, 0.3)), url(https://images.unsplash.com/photo-1506097425191-7ad538b29cef?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80,);
    background-size: cover;
    background-position: center;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.title, .subtitle {
    color: #fff;
}

.button.is-info.is-outlined {
    color: #fff;
    border-color: #fff ;
}

/* About Section */
#about {
    margin: 0 auto;
    padding: 5%;
}

#about figure {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;

}

#about figure img {
    box-shadow: 10px 10px #34558b;
}

h3.title {
    color: #34558b;
    text-align: center;

}

.abouttext {
    text-align: center;
}

.btnContainer{
    margin: 10px 0;
}

.button.is-success.is-outlined {
    color: #34558b;
    border-color: #34558b;
}

/* Services */
#services {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 30px 0 30px 0;
    padding: 30px;
    background-color: rgba(224, 223, 223, 0.514);
}

#cardContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#services .subtitle{
    color: #34558b;
}

#services .card {
    height: 33vh;
    width: 80%;
    margin: 10px 0;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;

}

.far.fa-object-group, .fas.fa-laptop-code, .far.fa-object-group {
   margin-bottom: 20px;
   color: #34558b;
}


/* My Work Section Here */

#myWork {
    display: flex; 
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 0 5%;
    padding: 15px 0;
}


.workContainer, .workContainer2, .workContainer3, .workContainer4 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(https://images.pexels.com/photos/1105666/pexels-photo-1105666.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    height: 50vh;
    background-position: center;
    background-size: cover;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 10px;
    transition: background .5s ease;
}




.workContainer2 {
    background: url(https://images.unsplash.com/photo-1498050108023-c5249f4df085?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1352&q=80);
    transition: background .5s ease;
    background-size: cover;
}


.workContainer3 {
    background: url(https://images.unsplash.com/photo-1581472723648-909f4851d4ae?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80);
    transition: background .5s ease;
    background-size: cover;
}

.workContainer4 {
    background: url(https://images.unsplash.com/photo-1554306274-f23873d9a26c?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80);
    transition: background .5s ease;
    background-size: cover;
}

.workContainer .overlaytext {
    padding: 50px 200px;
    margin: 10px;
}

.overlaytext h4 {
    margin: 25px 0;
}

.overlaytext p {
    margin-bottom: 50px;
    line-height: 1.25;
    color: #fff;
}

.overlaytext {
    display: flex;
    cursor: pointer;
    flex-direction: column;
    text-align: center;
    padding: 35px;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.25s;
    height: 100%;
}

.overlaytext > * {
    transform: translateY(50px);
    transition: transform 0.25s;
}

.overlaytext:hover {
    opacity: 1;
  
}

.overlaytext:hover > * {
    transform: translateY(0);
}

.workContainer:hover, .workContainer2:hover, .workContainer3:hover, .workContainer3:hover, .workContainer4:hover {
    background: rgba(52, 85, 139, 1);
    box-shadow:  0 0 50px rgba(0, 0, 0, 0.3);
}


.button.is-success {
    background-color: #34558b;
}

.button.is-success:hover {
    background-color: #213658;
}  


/* FOOTER STARTS HERE */

footer {
    height: auto;
    display: flex;
    background: #34558b;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    width: 100vw;
}

.footerlinks {
    display: flex;
    justify-content: center;
}

.footerlinks ul li {
    display: inline;
    color: #fff;
    margin-bottom: 10px;
}

h5.title {
    color: #fff;
}

.fab, .fas {
    font-size: 30px;
    color: #fff;
    margin: 10px;
}

#footer p {
    color: rgba(255, 255, 255, 0.582);
}

@media screen and (min-width: 768px) {
    #services .card {
        height: 40vh;
        width: 80%;
        margin: 10px 0;
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
    
    }

    .navbar-item {
        color: #fff;
    }

    .button.is-link.is-outlined {
        color: #fff;
        border-color: #fff;
    }

    
    #about figure img {
        display: none;
    }
    
}

@media screen and (min-width: 1200px) {
    .navbar-item {
        color: #fff;
    }

    .navbar-start {
        display: flex;
        justify-content: right;
    }

    .button.is-link.is-outlined {
        color: #fff;
        border-color: #fff;
    }

    #cardContainer {
        display: flex;
        flex-direction: row;
        width: 80%;
    }
    
    
    #services .card {
        height: 33vh;
        width: 60%;
        margin: 10px;
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
    
    }



}

